<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BTVSchedule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup/><applicationSettings>
		<BTVSchedule.Properties.Settings>
			<setting name="BTVSchedule_BTVScheduler_BTVScheduler" serializeAs="String">
				<value>http://172.16.1.178:8129/wsdl/BTVScheduler.asmx</value>
			</setting>
			<setting name="BTVSchedule_BTVLicenseManager_BTVLicenseManager" serializeAs="String">
				<value>http://172.16.1.178:8129/wsdl/BTVLicenseManager.asmx</value>
			</setting>
			<setting name="BTVSchedule_BTVLibrary_BTVLibrary" serializeAs="String">
				<value>http://172.16.1.178:8129/wsdl/BTVLibrary.asmx</value>
			</setting>
			<setting name="BTVSchedule_BTVGuideUpdater_BTVGuideUpdater" serializeAs="String">
				<value>http://172.16.1.178:8129/wsdl/BTVGuideUpdater.asmx</value>
			</setting>
			<setting name="BTVSchedule_BTVDispatcher_BTVDispatcher" serializeAs="String">
				<value>http://172.16.1.178:8129/wsdl/BTVDispatcher.asmx</value>
			</setting>
		</BTVSchedule.Properties.Settings>
	</applicationSettings>
</configuration>
